#
# SPDX-License-Identifier: Apache-2.0
#

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
application-javascript/node_modules/
chaincode-javascript/node_modules/
application-javascript/package-lock.json
chaincode-javascript/package-lock.json

wallet
!wallet/.gitkeep
